@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.LRform-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 40px;
  text-align: center;
}

.LRh2 {
  color: #293241;
}

.LRform {
  display: flex;
  flex-direction: column;
}

.LRform input {
  height: 60px;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.LRinput {
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #293241;
  background: transparent;
  color: #293241;
}

.LRbutton {
  background-color: #24af7c;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.LRcheckbox-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LRlabel {
  flex-grow: 1;
  margin-left: 10px;
}

.LRa {
  text-decoration: none;
  color: #293241;
  margin-left: 10px;
}

.LRhidden {
  display: none;
}

.LRcheckbox-label input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 5px;
}
