/* Reset default margin and padding for body element */

/* Shared styles */
.navbar {
  background-color: #262c2f;
  position: flex;
  top: 0;
  width: 100vw; /* Set width to 100% of the viewport width */
  margin: 0;
  justify-content: center;
  padding: 1px; /* Padding inside the footer */

}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 25px;
  padding: 10px 20px;
  border-radius: 50px;
 transition: background-color 0.3s ease, transform 1s ease;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  
}

.navbar ul li:hover {
  background-color: #4e6a86;
  transform: scale(1.1);
  transition: background-color 0.9s ease, transform 1.5s ease;
}

/* Style for the logo */
.navbar .navbar-container img.logo {
  width: 13%;
  height: auto;
}


/* Burger menu styles */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Menu items styles for small screens */
.menu-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

.menu-items li {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .navbar ul {
    display: none;
  }

  .navbar ul.open {
    display: flex;
    flex-direction: column;
  }
}

/* Profile icon styles */
.profileicon {
  margin-right: 50px; /* Adjusted margin */
  font-size: 24px; /* Increased font size */
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Dropdown styles */
.dropdown-menu {
  position: absolute;
  background-color: #262c2f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar ul li:hover,
.navbar ul li.active {
  background-color: #4e6a86;
  transform: scale(1.1);
  transition: background-color 0.9s ease, transform 1.5s ease;
}