
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.home-page {
  background-color: #f4f4f4;
  color: #333;
  /* padding: 20px; ayaw ni hilabta*/
  font-family: poppins, sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100vw; /* Set width to 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 

.content-container h1 {
  font-size: 40px;
}

.content-container h3 {
  font-size: 25px;
} 

.content-container p {
  color:#000000;
  font-size: 20px;
}
.content-container {
  width: 100%;
  max-width: 1120px;
  margin-left: 10px;
  margin-bottom: 30px;
  display: flex;
}

.text-column {
  width: 70%;
  text-align: left;
}

.image-column img {
  width: 100%;
  border-radius: 50%;
  margin-top: 80px;
}

.image-column {
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
}

.circular-image {
  border-radius: 50%;
}
.boxes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-box {
  position: relative; /* Add position relative to feature-box */
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  margin: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

.feature-box:hover {
  transform: scale(1.2); /* Add scale transformation on hover */
}


.additional-feature {
  width: 100%;
  max-width: 1100px;
  background-color: #DBEFFA;
  color: #000000;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.additional-feature h2 {
  font-family: 'Verdana', sans-serif;
  color: #026D99;
  font-size: 25px;
  margin-bottom: 20px;
}

.additional-feature p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #666362;
}

.meet-dentists-btn {
  background-color: #026D99;
  color: #ffffff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.meet-dentists-btn:hover {
  background-color: #014469;
  text-decoration: none;
}

.bottom-feature {
  width: 100%;
  max-width: 1100px;
  margin: 10px;
  text-align: left;
}

.bottom-feature h2 {
  color: #026D99;
  font-size: 25px;
}

.bottom-feature p {
  font-size: 20px;
  color: #666362;
}

.appointment {
  width: 100%;
  max-width: 1100px;
  color: #333333;
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  text-align: left;
}

.appointment h2 {
  font-family: 'Arial', sans-serif;
  color: #026D99;
  font-size: 25px;
  margin-bottom: 20px;
}

.appointment p {
  margin-bottom: 10px;
  font-size: 20px;
  color: #666362;
}
