

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.body {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  font-family: poppins, sans-serif;
  margin: 0;
  min-height: 100vh;
  width: 100vw; /* Set width to 100% of the viewport width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('pictures/teethbackground.jpg') center/cover no-repeat;
 }
 
.container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 40px;
  text-align: center;
  
}

.h2 {
  color: #293241;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 60px;
  width: 100%;
  padding: .5px;
  font-size: 17px;
  margin-bottom: .5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.input {
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #293241;
  background: transparent;
  color: #293241;
}

.button {
  background-color: #24af7c;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:black;
}

.label {
  flex-grow: 1;
  margin-left: 10px;
}

.a {
  text-decoration: none;
  color: #293241;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.checkbox-label input[type="checkbox"] {
  transform: scale(0.5); 
  margin-right: 5px; 
}
/* Add this to your CSS */
.error-message {
  background-color: red;
  margin: 0;
  border-radius: 10px;
  color:white;
  height: 50px;
  width: 50%;
  display: relative;
  padding:5px;
  transition: opacity 0.5s ease, transform 1s ease; /* Added transform to the transition */
}

.error-message-hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transform: scaleY(0); /* Added scaleY(0) to hide the element */
  transition: opacity 0.5s ease, height 1s ease, transform 1s ease; /* Added transform to the transition */
}


.success-message{

  background-color: green;
  margin: 0;
  border-radius: 10px;
  color:white;
  height: 30px;
  width: 50%;
  display: relative;
  padding:5px;
  transition: opacity 0.5s ease, transform 1s ease; /* Added transform to the transition */
}

.success-message-hidden{
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  transform: scaleY(0); /* Added scaleY(0) to hide the element */
  transition: opacity 0.5s ease, height 1s ease, transform 1s ease; /* Added transform to the transition */
}
